<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sessions | Barcamp Bangkhen 5</title>
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Quicksand|Julius+Sans+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/sessiontable.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body class="subpage">
<nav>
	<ul class="nav-left">
		<li><a href="/">Home</a></li>
		<li><a href="/#about">About</a></li>
		<li><a href="/#agenda">Agenda</a></li>
		<li><a href="/sessions.html">Sessions</a></li>
		<li><a href="/who.html">Who's coming</a></li>
	</ul>
	<ul class="nav-right">
		<li><a href="https://twitter.com/barcampbangkhen"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://www.facebook.com/barcampbangkhen"><i class="fa fa-facebook"></i></a></li>
	</ul>
	<div class="clearfix"></div>
</nav>
<div id="header">
	<div class="logo">
		<img src="img/logo.png" alt="Barcamp Bangkhen 5">
	</div>
</div>
<div class="seam seam-subpage">
	<div class="seam-in"></div>
</div>
<div class="block block-sessions" ng-app="bcbk5" ng-controller="SessionController">
	<div class="container">
		<h4>Sessions</h4>
		<noscript>
			<iframe id="sessioniframe" src="http://api.2014.barcampbangkhen.org/session/render" seamless frameborder="0"></iframe>
		</noscript>
	</div>
	<div id="sessiontable">
		<div class="announce">
			Barcamp Bangkhen 5 Timetable
		</div>
		<ol class="sessionlist">
			<li ng-repeat-start="session in sessions track by session.id" ng-init="changed = session.slot != $parent.lastslot; $parent.lastslot = changed ? session.slot : $parent.lastslot" class="announce" ng-show="changed &amp;&amp; session.slot == '13:00 - 13:30'">
				12.10 - 13.00 :  Lunch
			</li>
			<li class="announce" ng-show="changed &amp;&amp; session.slot == '15:20 - 15:50'">15.00 - 15.20 : Break</li>
			<li class="timesection" ng-show="changed">{{session.slot}}</li>
			<li ng-repeat-end class="session room-{{session.room}}" ng-class="{double: session.double, single: !session.double, favorite: isFav(session)}">
				<div class="room" ng-bind="session.room"></div>
				<div class="card">
					<a href="#" ng-click="fav(session); $event.preventDefault();" class="fav"><i class="fa" ng-class="{'fa-star-o': !isFav(session), 'fa-star': isFav(session)}"></i></a>
					<div class="title" ng-bind="session.name"></div>
					<div class="time" ng-bind="session.slot"></div>
					<div class="by" ng-bind="session.by"></div>
				</div>
			</li>
		</ol>
		<table class="sessiontable">
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="room in rooms" ng-bind="room"></th>
					<th>Favorite</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="time in timeslots">
					<td ng-bind="time"></td>
					<td ng-repeat="room in rooms" find-session session-room="room" session-time="time" session="session" ng-class="{session: !!session, double: session.double, single: session &amp;&amp; !session.double}">
						<div class="session-in" ng-if="session" ng-tap>
							<a href="#" ng-click="fav(session); $event.preventDefault();" class="fav"><i class="fa" ng-class="{'fa-star-o': !isFav(session), 'fa-star': isFav(session)}"></i></a>
							<div class="title" ng-bind="session.name"></div>
							<div class="time" ng-bind="session.slot"></div>
							<div class="by" ng-bind="session.by"></div>
						</div>
					</td>
					<td ng-repeat="session in favorites[time]" class="session favorite" ng-class="{single: session &amp;&amp; !session.double, double: session.double}">
						<div class="session-in" ng-tap>
							<a href="#" ng-click="fav(session); $event.preventDefault();" class="fav"><i class="fa fa-star"></i></a>
							<div class="title" ng-bind="session.name"></div>
							<div class="time" ng-bind="session.slot"></div>
							<div class="sessroom" ng-bind="session.room"></div>
							<div class="by" ng-bind="session.by"></div>
						</div>
					</td>
					<td ng-if="!favorites[time]"></td>
				</tr>
				<tr ng-if="time == '11:40 - 12:10'">
					<td>12.10 - 13.00</td>
					<td class="break" colspan="{{rooms.length+1}}">Lunch</td>
				</tr>
				<tr ng-repeat-end ng-if="time == '14:30 - 15:00'">
					<td>15.00 - 15.20</td>
					<td class="break" colspan="{{rooms.length+1}}">Break</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<ul>
			<li>Sessions are posted and voted during the opening hours.</li>
			<li>A session lasts 30 minutes or 1 hour.</li>
			<li>Session can be in Thai or English.</li>
			<li>17201 is the auditorium on the 2nd floor, 17302-17304 are small classrooms on 3rd floor and 17401-17402 are large classrooms on 4th floor.</li>
			<li>Press <div class="fa fa-star-o"></div> to add session to favorite. Press again to remove. Favorite sessions are stored locally only.</li>
		</ul>
	</div>
</div>
<div class="seam seam-credit">
	<div class="seam-in"></div>
</div>
<div class="credit">
	<div class="right">
		<div class="credit-block">
			<strong>Website</strong>
			<div>@<a href="http://whs.in.th">awkwin</a></div>
		</div>
		<div class="credit-block">
			<strong>Design</strong>
			<div>@<a href="https://twitter.com/_pnagi">_pnagi</a></div>
		</div>
	</div>
	<img src="img/logo-color.svg" alt="Barcamp Bangkhen 5">
	<div class="clearfix"></div>
</div>

<script src="http://cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="js/pushstream.js"></script>
<script src="js/session.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-43587008-1', 'auto');
  ga('send', 'pageview');
 
</script>
<script>
Raven.config('http://8f1c5cc3f1d94500b518bed5f5daba5d@sentry.whs.in.th/6', {
	whitelistUrls: ['2014.barcampbangkhen.org']
}).install();
</script>
</body>
</html>