<div style="font-family: helvetica, sans-serif;background-color: #3a3a3a;padding: 10px;">
	<a href="http://2014.barcampbangkhen.org"><img src="http://2014.barcampbangkhen.org/img/logo-color.png" width="200" height="100" alt="Barcamp Bangkhen 2014"></a>
	
	<div style="text-align: center;color: white;margin: 10px 0;">(ภาษาไทยด้านล่าง)</div>
	
	<div style="background: white;margin: 20px 0;padding: 20px;">
		<p>Hi {{regis.name}},</p>
		
		<p>This email is to confirm that you have successfully registered for Barcamp Bangkhen 2014.</p>
		
		<p>Barcamp Bangkhen 2014 (<a style="color: #454545;text-decoration: none;" href="https://twitter.com/search?q=%23bcbk">#bcbk</a>) will be held on Sunday, November 16th, 2014 from 9am to 5pm at IUP Building, Faculty of Engineering, Kasetsart University. Maps and bus routes are available at our website. The registration will be on the first floor and session voting on the second floor.</p>
		
		<p>The opening ceremony starts at 9:40am and first session starts at 10:10am. There will be a lunch break at 12:10am and a coffee break at 3:00pm. The last session begins at 4:20pm and there will be an after party after 5pm.</p>
		
		<p>If you wish to speak, head to the 2nd floor and post your sessions before the opening ceremony starts.</p>
		
		<p>If you have something to say &mdash; whether it be questions, comments, suggestions or anything else &mdash; please feel free to contact our volunteer by replying to this email or posting on one of our social network pages.</p>
		
		<p>See you at Barcamp!</p>
		
		<p>
			Barcamp Bangkhen Organizer<br>
			<a style="color: #454545;text-decoration: none;" href="http://2014.barcampbangkhen.org">Website</a> &middot;
			<a style="color: #454545;text-decoration: none;" href="https://www.facebook.com/Barcampbangkhen">Facebook</a> &middot;
			<a style="color: #454545;text-decoration: none;" href="https://twitter.com/barcampbangkhen">@barcampbangkhen</a> &middot;
			<a style="color: #454545;text-decoration: none;" href="https://plus.google.com/108641502357161698333">Google+</a>
		</p>
	</div>
	
	<div style="background: white;margin: 20px 0;padding: 20px;">
		<p>สวัสดีครับคุณ {{regis.name}},</p>
		
		<p>เราขอแจ้งให้ทราบว่าขณะนี้คุณได้ลงทะเบียนเข้าร่วมงาน Barcamp Bangkhen 2014 เรียบร้อยแล้ว</p>
		
		<p>งานบาร์แคมป์บางเขน 2014 (<a style="color: #454545;text-decoration: none;" href="https://twitter.com/search?q=%23bcbk">#bcbk</a>) จะจัดขึ้นในวันอาทิตย์ที่ 16 พฤศจิกายน 2557 ตั้งแต่เวลา 9 นาฬิกา - 17 นาฬิกา ณ อาคารนานาชาติ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ สามารถดูแผนที่และสายรถเมลได้จากหน้าเว็บไซต์ของงาน เมื่อมาถึงแล้วสามารถลงทะเบียนได้ที่ชั้นหนึ่ง และโหวตเซสชั่นได้ที่ชั้นสอง</p>
		
		<p>พิธีเปิดจะเริ่มในเวลา 9:40 นาฬิกา เซสชั่นแรกเริ่มในเวลา 10:10 นาฬิกา มีอาหารกลางวันในเวลา 12:10 เบรค 15:00 เซสชั่นสุดท้าย 16:20 และจะมีปาร์ตี้หลัง 17 นาฬิกา</p>
		
		<p>หากต้องการจะพูด ขึ้นไปที่ชั้น 2 และแปะเซสชั่นก่อนพิธีเปิดจะเริ่ม</p>
		
		<p>หากมีเรื่องใดต้องการจะติดต่อเรา ไม่ว่าจะเป็นคำถาม ความคิดเห็น คำแนะนำ หรืออื่นๆ สามารถติดต่อเราได้ที่อีเมลนี้ หรือในเพจโซเชียลเน็ตเวิร์คของเรา</p>
		
		<p>แล้วเจอกันที่งานบาร์แคมป์ครับ</p>
		
		<p>
			คณะผู้จัดงานบาร์แคมป์บางเขน<br>
			<a style="color: #454545;text-decoration: none;" href="http://2014.barcampbangkhen.org">Website</a> &middot;
			<a style="color: #454545;text-decoration: none;" href="https://www.facebook.com/Barcampbangkhen">Facebook</a> &middot;
			<a style="color: #454545;text-decoration: none;" href="https://twitter.com/barcampbangkhen">@barcampbangkhen</a> &middot;
			<a style="color: #454545;text-decoration: none;" href="https://plus.google.com/108641502357161698333">Google+</a>
		</p>
	</div>
</div>